@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* PINK 
		321 76.2% 53.9%;
	*/

	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--radius: 1rem;
	}
}

@layer base {
	* {
		@apply border-border;
		/* font-family: 'IM Fell English', serif; */
		/* font-family: 'IM Fell English', serif !important; */
		font-family: 'Tektur', sans-serif !important;
	}
	body {
		@apply bg-background text-foreground;
	}
	.tektur {
		font-family: 'Tektur', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}
}

.debug-border {
	border: 1px solid white;
}

.central-screen {
	@apply flex h-full items-center justify-center;
}

.box {
	box-shadow: 0px 0px 0px 1px white inset;
}
