@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* PINK 
		321 76.2% 53.9%;
	*/

	:root {
		--black: 0 0% 0%;
		--white: 0 0% 100%;
		--gray: 0 0% 45%;
		--red: 0 75% 50%;

		/* https://lospec.com/palette-list/lemon-lime */

		/*
		--color1: 222 38.9% 25.7%;
		--color2: 197 46.5% 41.8%;
		--color3: 55 100% 74.1%;
		--color4: 141 51.7% 58.6%; 
		*/

		/* https://lospec.com/palette-list/pumpkin-pie */
		/* --color1: 30 100% 93%;
		--color2: 24 86% 76%;
		--color3: 190 22% 54%;
		--color4: 274 23% 35%; */

		/* https://lospec.com/palette-list/qameboy */
		/* https://lospec.com/palette-list/coral-4 */
		/* --color1: 356 79% 77%;
		--color2: 261 26% 44%;
		--color3: 208 21% 58%;
		--color4: 30 100% 80%; */

		/* https://lospec.com/palette-list/gb-morris */
		--color1: 47 52% 78%;
		--color2: 173 26% 59%;
		--color3: 47 24% 38%;
		--color4: 150 34% 22%;

		--background: var(--color1);
		--foreground: var(--color4);

		--primary: var(--color2);
		--primary-foreground: var(--black);

		--border: var(--color4);
		--input: var(--color4);
		--ring: var(--color4);

		--card: var(--color4);
		--card-foreground: var(--color4);

		--popover: var(--color4);
		--popover-foreground: var(--color2);

		--secondary: var(--color1);
		--secondary-foreground: var(--color4);

		--muted: var(--color1);
		--muted-foreground: var(--gray);

		--accent: var(--color2);
		--accent-foreground: var(--color4);

		--destructive: var(--red);
		--destructive-foreground: var(--color1);

		--radius: 1rem;
	}
}

@layer base {
	* {
		@apply border-border;
		/* font-family: 'IM Fell English', serif; */
		/* font-family: 'IM Fell English', serif !important; */
		/* font-family: 'Tektur', sans-serif !important; */
		font-family: 'Jersey 15', sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	body {
		@apply bg-background text-foreground;
	}

	.jersey-10-regular {
		font-family: 'Jersey 10', sans-serif;
		font-weight: 400;
		font-style: normal;
	}
}

.central-screen {
	@apply flex h-full items-center justify-center;
}

.box {
	box-shadow: 0px 0px 0px 1px black inset;
}
